<tool-tip-trigger class="tool-tip-trigger" data-tool-tip-trigger="" data-tool-tip="{{ context }}">
  <div class="tool-tip-trigger__title">{{ title }}</div>
  <span class="tool-tip-trigger__content" data-tool-tip-content="">
    <!--  Selected Via MetaField [Size chart]   -->
   {% if product.metafields.custom.size_chart !=blank %} 
     {{ product.metafields.custom.size_chart.value.content}}
    {% else %}
        <!--  Deafault Size chart   -->
    {{ content }}
     {% endif %}
  </span>
</tool-tip-trigger>
