<div class="main-collection">
  <div class="collection-left">
{% section 'collection-filters' %}
  </div>
  <div class="collection-right">
  {% section 'collection-header' %}
  {% section 'main-collection' %}
  </div>
</div>